<span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
<div class="actions" *ngIf="!isLoading">
    <button type="button" (click)="getPageObjects()" class="btn btn-primary">Reload</button>
    <button type="button" (click)="shuffleQuotes()" class="btn btn-info">Shuffle</button>
</div>
<div class="row">
    <div class="col-md-8">
        <app-quote-list *ngIf="!isLoading" [quotes]="quotes"></app-quote-list>
    </div>
    <div class="col-md-4">
        <ng-container *ngIf="!isLoading">
            <h2>Tags:</h2>
            <ng-container *ngFor="let tag of tags">
                <a routerLink="/tag/{{tag.value}}" *ngIf="!(tag.disabled)">
                    <span class="badge badge-pill badge-info"  [class.badge-secondary]="tag.disabled">{{tag.value}}</span>
                </a>
                <span class="badge badge-pill badge-secondary" *ngIf="tag.disabled">{{tag.value}}</span>
            </ng-container>
        </ng-container>
    </div>
</div>
